In [1]:
!conda install -c conda-forge geopy --yes

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1c             |       h516909a_0         2.1 MB  conda-forge
    ca-certificates-2019.9.11  |       hecc5488_0         144 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    certifi-2019.9.11          |           py36_0         147 KB  conda-forge
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.20.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.8.28-0                   --> 2019.9.11-hecc5488_0 conda-forge
    certifi:         2019.9.11-py36_0              --> 2019.9.11-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_2             --> 1.1.1c-h516909a_0    conda-forge


Downloading and Extracting Packages
openssl-1.1.1c       | 2.1 MB    | ##################################### | 100%
ca-certificates-2019 | 144 KB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
certifi-2019.9.11    | 147 KB    | ##################################### | 100%
geopy-1.20.0         | 57 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [2]:
!conda install -c conda-forge folium=0.5.0 --yes

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.3.1               |             py_0          25 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    altair-3.2.0               |           py36_0         770 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         868 KB

The following NEW packages will be INSTALLED:

    altair:  3.2.0-py36_0 conda-forge
    branca:  0.3.1-py_0   conda-forge
    folium:  0.5.0-py_0   conda-forge
    vincent: 0.4.4-py_1   conda-forge


Downloading and Extracting Packages
branca-0.3.1         | 25 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
altair-3.2.0         | 770 KB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

## Introduction

The amount of crime in India is rising everyday. Crimes are categorized into multiple different groups. Our goal in this project is to figure out which states in the country has the most number of a certain crime. We finally conclude with which state has the most overall crimes. This data is useful to agencies that fight crime and could help them figure out which parts of the country require higher and more vigilant security etc.

## Data

The dataset is take from Kaggle. It contains information about the trials of violent crimes by courts and will eventually help determine the kind of results we watn. Foursquare data is leveraged in order to be able to plot our final results on a map.

In [2]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_55b2bb94579d4d9ba04aaf80a8aad6ca = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='WhvSgNGjSkNqmccQXa2b1IlJ7LFPf64FsfiV_oD6jSMq',
    ibm_auth_endpoint="https://iam.au-syd.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.ap-geo.objectstorage.service.networklayer.com')

body = client_55b2bb94579d4d9ba04aaf80a8aad6ca.get_object(Bucket='couseracapstone-donotdelete-pr-3vhu2vlrhbzpzg',Key='28_Trial_of_violent_crimes_by_courts.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Trial_of_Violent_Crimes_by_Courts_By_Confession,Trial_of_Violent_Crimes_by_Courts_By_trial,Trial_of_Violent_Crimes_by_Courts_Total
0,Andhra Pradesh,2001,TVC- Arson,10. Arson,20.0,517.0,537.0
1,Arunachal Pradesh,2001,TVC- Arson,10. Arson,0.0,3.0,3.0
2,Assam,2001,TVC- Arson,10. Arson,5.0,142.0,147.0
3,Bihar,2001,TVC- Arson,10. Arson,0.0,208.0,208.0
4,Chandigarh,2001,TVC- Arson,10. Arson,0.0,3.0,3.0

In [62]:
crimedf.shape

(4473, 7)

In [63]:
crimedf.columns=['State', 'Year', 'Group', 'Sub_Group', 'Confession', 'Trial', 'Total']

In [64]:
crimedf.head(10)

                  State  Year       Group  Sub_Group  Confession  Trial  Total
0        Andhra Pradesh  2001  TVC- Arson  10. Arson        20.0  517.0  537.0
1     Arunachal Pradesh  2001  TVC- Arson  10. Arson         0.0    3.0    3.0
2                 Assam  2001  TVC- Arson  10. Arson         5.0  142.0  147.0
3                 Bihar  2001  TVC- Arson  10. Arson         0.0  208.0  208.0
4            Chandigarh  2001  TVC- Arson  10. Arson         0.0    3.0    3.0
5          Chhattisgarh  2001  TVC- Arson  10. Arson        22.0   41.0   63.0
6  Dadra & Nagar Haveli  2001  TVC- Arson  10. Arson         NaN    2.0    2.0
7                 Delhi  2001  TVC- Arson  10. Arson        18.0   75.0   93.0
8                   Goa  2001  TVC- Arson  10. Arson         NaN   41.0   41.0
9               Gujarat  2001  TVC- Arson  10. Arson         2.0  228.0  230.0

In [65]:
crimedf.dropna(axis=0, inplace=True)
crimedf.shape

(3138, 7)

In [66]:
crimedf.drop(labels=['Group'], axis=1, inplace=True)
crimedf.shape

(3138, 6)

In [67]:
clist=crimedf.values.tolist()

In [76]:
#remove very small number of crimes
for i in range(len(clist)):
    if clist[i][5]<10:
        del clist[i]

In [77]:
len(clist)

2436

In [96]:
for i in range(len(clist)):
    if clist[i][2]=='12. Total Trials (Sum of 1-11 Above)':
        del clist[i]

In [97]:
len(clist)

2185

In [100]:
crimedf=pd.DataFrame(clist)
crimedf.columns=['State', 'Year', 'group', 'Confession', 'Trial', 'Total']
crimedf.head()

            State  Year      group  Confession  Trial  Total
0  Andhra Pradesh  2001  10. Arson        20.0  517.0  537.0
1           Assam  2001  10. Arson         5.0  142.0  147.0
2           Bihar  2001  10. Arson         0.0  208.0  208.0
3    Chhattisgarh  2001  10. Arson        22.0   41.0   63.0
4           Delhi  2001  10. Arson        18.0   75.0   93.0

      Confession       Trial       Total
Year
2001   13.258621  510.952586  524.211207
2002   16.604255  565.923404  582.527660
2003    6.676991  520.044248  526.721239
2004    7.115741  599.759259  606.875000
2005    8.895197  566.842795  575.737991
2006   10.700000  605.328571  616.028571
2007    8.037559  522.511737  530.549296
2008   11.836735  527.872449  539.709184
2009   10.026549  466.858407  476.884956
2010   11.158416  444.831683  455.990099